
/********************/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: static;
}

 p{
   color: black;
 }

 #menus{
   position: fixed;
   /*top:0px;
   left:0px;*/
   width: 100%;
   height: 35px;
   background: white;
   z-index: 4;
}

/*
#menus span{
  padding: 19px 90.12px;
  font-weight: bold;
  color: #485DFB;
  cursor: pointer;
}

#menus span:hover{
  padding: 19px 90.12px;
  font-weight: bold;
  background: #485DFB;
  color: white;
  transition: width 1s ease, background-color 1s ease;
}
*/
 /* ligne
.underline {
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
overflow: hidden;
}

.underline:before {
content: "";
position: absolute;
z-index: 8;
left: 51%;
right: 51%;
bottom: 0;
background: blue;
height: 2px;
transition-property: left, right;
transition-duration: 0.3s;
transition-timing-function: ease-out;
}

.underline:hover:before{
left: 0;
right: 0;
}
*/

/* --------------------------------------- */

.onglet_0 {
  padding: 19px 90.12px;
  font-weight: bold;
  color: #E92F07;
  cursor: pointer;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
overflow: auto;
}

.onglet_0:hover{
  padding: 19px 90.12px;
  font-weight: bold;
  background: #E92F07;
  color: white;
  transition: width 1s ease, background-color 1s ease;
}

.onglet_0:before {
content: "";
position: absolute;
z-index: 8;
left: 50%;
right: 50%;
bottom: 0;
background: white;
height: 4px;
transition-property: left, right;
transition-duration: 1.3s;
transition-timing-function: ease-out;
}

.onglet_0:hover:before{
left: 0;
right: 0;
}

.onglet_1{
          padding: 19px 90.12px;
          font-weight: bold;
          color: white;
          background: #E92F07;
          cursor: pointer;
          -webkit-transition:  0.65s linear;
          transition: 0.65s linear;
}

.onglet_1:before {
content: "";
position: absolute;
z-index: 8;
left: 50%;
right: 50%;
bottom: 0;
background: black;
height: 4px;
transition-property: left, right;
transition-duration: 2.3s;
transition-timing-function: ease-out;
}

.contenu_onglet{
  padding-top: 35px;
  width: 100%;
  height: 500px;
  color: white;
  background-color: #E92F07;
}

.titre{
  position:absolute;
  left: 35%;
  color : #F7E3DF;
}

.contenu_onglet p{
  position:absolute;
  left: 20%;
  color : #F7E3DF;
}

a{
  color : #9F9391;
}

html {
  scroll-behavior: smooth;
}
